body {
	background: #242424;
	background-size: auto;
	color:#fff;
}

table {
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
}

.selectors {
	width:30%;
}

.select {
	cursor:pointer;
	width:40px;
	background: #00f;
}

.select:hover {
	opacity:0.7;
	border-bottom:1px solid;
	transition: 0.5s;
}
@media all and (max-width: 320px) {
.number {
	font-size: 20px;
	padding: 10px 10px;
    width: 20px;
    height: 20px;
	cursor:pointer;
	border:1px solid black;
	background:blue;
	border-radius: 10px;
	color:#fff;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}
table {
	margin-top: 15px;
	width: 268px;
    height: 268px;
}
.menu {
vertical-align: middle;
margin-top: 50%;
}
.menua {
	background: blue;
    height: 45px;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    line-height: 40px;
    width:200px;
    font-weight: bold;
}
}
@media all and (min-width: 320px) and (max-width: 350px)  {
.number {
	font-size: 20px;
	padding: 10px 10px;
    width: 20px;
    height: 20px;
	cursor:pointer;
	border:1px solid black;
	background:blue;
	border-radius: 10px;
	color:#fff;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}
table {
	margin-top: 15px;
	width: 268px;
    height: 268px;
}
.menu {
vertical-align: middle;
margin-top: 50%;
}
.menua {
	background: blue;
    height: 45px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin: 20px;
    width:200px;
    font-weight: bold;
}
}
@media all and (min-width: 350px) and (max-width: 450px)  {
.number {
	font-size: 35px;
	padding: 10px 10px;
    width: 40px;
    height: 40px;
	cursor:pointer;
	border:1px solid black;
	background:blue;
	border-radius: 10px;
	color:#fff;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}
table {
	margin-top: 15px;
	width: 358px;
    height: 373px;
}
.menu {
vertical-align: middle;
margin-top: 50%;
}
.menua {
	background: blue;
    height: 45px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin: 20px;
    width:200px;
    font-weight: bold;
}
}
@media all and (min-width: 450px) {
.number {
	font-size: 45px;
	padding: 10px 10px;
    width: 45px;
    height: 45px;
	cursor:pointer;
	border:1px solid black;
	background:blue;
	border-radius: 10px;
	color:#fff;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}
table {
	margin-top: 15px;
	width: 418px;
    height: 443px;
}
.menu {
vertical-align: middle;
margin-top: 30%;
}
.menua {
	background: blue;
    height:100px;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    line-height: 95px;
    width:450px;
    font-weight: bold;
}
}
.number:hover {
	opacity:0.8;
	color:#fff;
	background: #000000;
	transition: 0.1s;
}

.number:active {
	color:black;
}
ul {
  list-style: none;
  margin: 0;
  text-align: center;
}
a {
	text-decoration: none;
	border-radius:5px;
	color:#fff;
	padding:10px;
}

a:hover {
	opacity: 0.9;
	transition: 0.5s;
}

li {
    width: 200px;
    background: blue;
	padding:10px;
}

#find{
	margin-top: 25px;
}


.menua{
	cursor: pointer;
	transition:0.5;
}
.menua:hover{
	opacity: 0.8;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}