body {
	background: #242424;
	background-size: auto;
	color:#fff;
}

table {
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
}

.selectors {
	width:30%;
}

.select {
	cursor:pointer;
	width:40px;
}

.select:hover {
	opacity:0.7;
	border-bottom:1px solid;
	transition: 2s;
}
@media all and (min-width: 320px) and (max-width: 350px)  {
.number {
	font-size: 20px;
	padding: 10px 10px;
    width: 20px;
    height: 20px;
	cursor:pointer;
	border:1px solid black;
	background:blue;
	border-radius: 10px;
	color:#fff;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}
table {
	margin-top: 15px;
	width: 268px;
    height: 268px;
}
}
@media all and (min-width: 350px) and (max-width: 450px)  {
.number {
	font-size: 35px;
	padding: 10px 10px;
    width: 40px;
    height: 40px;
	cursor:pointer;
	border:1px solid black;
	background:blue;
	border-radius: 10px;
	color:#fff;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}
table {
	margin-top: 15px;
	width: 358px;
    height: 373px;
}
}
@media all and (min-width: 450px) {
.number {
	font-size: 45px;
	padding: 10px 10px;
    width: 45px;
    height: 45px;
	cursor:pointer;
	border:1px solid black;
	background:blue;
	border-radius: 10px;
	color:#fff;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}
table {
	margin-top: 15px;
	width: 418px;
    height: 443px;
}
}
.number:hover {
	opacity:0.8;
	color:#fff;
	background: #000000;
	transition: 0.5s;
}

.number:active {
	color:black;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 37%;
}
a {
	text-decoration: none;
	border-radius:5px;
	background: blue;
	color:#fff;
	padding:10px;
}

a:hover {
	opacity: 0.7;
	transition: 1s;
}

li {
	float: left;
	padding:10px;
}

#find{
	margin-top: 25px;
}